Repository milkyway-labs/milkyway, pull requests merged in 2025-03, with the labels that each got.

#258 docs: add modules documentation
  .gitignore
  Makefile
  scripts/docs-gen/.gitignore
  scripts/docs-gen/Makefile
  scripts/docs-gen/README.md
  scripts/docs-gen/docs-gen.py
  scripts/docs-gen/requirements.txt
  x/assets/README.md
  x/liquidvesting/README.md
  x/operators/README.md
  x/operators/keeper/msg_server.go
  x/operators/keeper/msg_server_test.go
  x/pools/README.md
  x/rewards/README.md
  x/rewards/keeper/msg_server.go
  x/rewards/keeper/msg_server_test.go
  x/services/README.md
  x/services/keeper/msg_server.go
  x/services/keeper/msg_server_test.go
Labels: x/services, x/operators, x/pools, kind/build

#265 feat: add osmosis wasm ibc hooks
  app/app.go
  app/keepers/keepers.go
  app/keepers/keys.go
  app/keepers/modules.go
  app/modules.go
  app/upgrades/v10/constants.go
  app/upgrades/v10/upgrades.go
  proto/osmosis/ibchooks/genesis.proto
  proto/osmosis/ibchooks/params.proto
  proto/osmosis/ibchooks/tx.proto
  utils/ibc.go
  x/ibc-hooks/README.md
  x/ibc-hooks/client/cli/query.go
  x/ibc-hooks/hooks.go
  x/ibc-hooks/ibc_module.go
  x/ibc-hooks/ics4_middleware.go
  x/ibc-hooks/keeper/keeper.go
  x/ibc-hooks/keeper/msg_server.go
  x/ibc-hooks/sdkmodule.go
  x/ibc-hooks/types/codec.go
  x/ibc-hooks/types/errors.go
  x/ibc-hooks/types/expected_keepers.go
  x/ibc-hooks/types/genesis.go
  x/ibc-hooks/types/genesis.pb.go
  x/ibc-hooks/types/keys.go
  x/ibc-hooks/types/msgs.go
  x/ibc-hooks/types/params.go
  x/ibc-hooks/types/params.pb.go
  x/ibc-hooks/types/tx.pb.go
  x/ibc-hooks/types/types.go
  x/ibc-hooks/wasm_hook.go
Labels: x/client

#267 docs: add x/restaking docs
  x/restaking/README.md
Labels: x/restaking

#270 ci: add release workflow
  .github/workflows/release.yml
Labels: kind/ci
