Repository milkyway-labs/milkyway, pull requests merged in 2025-02, with the labels that each got.

#248 ci: add sims action
  .github/workflows/sims.yml
Labels: kind/ci

#257 build: add tool to generate modules documentation for GitBook
  .gitignore
  Makefile
  scripts/docs-gen/.gitignore
  scripts/docs-gen/Makefile
  scripts/docs-gen/README.md
  scripts/docs-gen/docs-gen.py
  scripts/docs-gen/requirements.txt
Labels: kind/build

#261 fix(tests): fix simulation tests
  x/restaking/simulation/msg_factory.go
Labels: x/restaking
